# Load libraries

In [1]:
# Ignore wanring
import warnings
warnings.filterwarnings("ignore")

# Basic process
import pandas as pd
from tqdm import tqdm

# 1. Load Data

## Tissue Dataset

### Clinical data

In [18]:
clin_tissue= pd.read_csv(
    "data/GSE39582_clinicaldata.txt",
    sep="\t",
    index_col="!Sample_geo_accession"
)
clin_tissue.head()

,!Sample_title,dataset,status,Sex,age,stage,tnm.t,tnm.n,tnm.m,tumor.location,...,tp53.mutation.protein,kras.mutation,kras.mutation.dna,kras.mutation.exon.number,kras.mutation.protein,braf.mutation,braf.mutation.dna,braf.mutation.exon.number,braf.mutation.protein,cit.molecularsubtype
!Sample_geo_accession,,,,,,,,,,,,,,,,,,,,,
GSM971957,CIT001,discovery,colorectal cancer,Male,34.5,4.0,T4,N2,M1,distal,...,N/A,M,c.35G>A,c.35G>A,p.G12D,WT,NaN,NaN,NaN,C5
GSM971958,CIT002,discovery,colorectal cancer,Female,36.4,4.0,T3,N2,M1,distal,...,N/A,WT,N/A,N/A,N/A,WT,NaN,NaN,NaN,C4
GSM971959,CIT003,discovery,colorectal cancer,Male,36.9,2.0,T4,N0,M0,proximal,...,N/A,WT,N/A,N/A,N/A,WT,NaN,NaN,NaN,C3
GSM971960,CIT004,discovery,colorectal cancer,Female,38.2,1.0,T2,N0,M0,distal,...,N/A,WT,N/A,N/A,N/A,WT,NaN,NaN,NaN,C1
GSM971961,CIT005,discovery,colorectal cancer,Female,39.2,4.0,T3,N1,M1,distal,...,N/A,WT,N/A,N/A,N/A,WT,NaN,NaN,NaN,C4

In [ ]:
clin_tissue.shape

(585, 32)

In [19]:
clin_tissue["target"] = [1 if i == " colorectal cancer" else 0 for i in clin_tissue["status"]]
clin_tissue = clin_tissue[["target", "age", "stage", "DFS", "DFSM"]]
clin_tissue

                       target   age  stage  DFS  DFSM
!Sample_geo_accession
GSM971957                   1  34.5    4.0  1.0   0.0
GSM971958                   1  36.4    4.0  1.0   0.0
GSM971959                   1  36.9    2.0  1.0   4.0
GSM971960                   1  38.2    1.0  0.0  74.0
GSM971961                   1  39.2    4.0  1.0   1.0
...                       ...   ...    ...  ...   ...
GSM1681367                  0  67.0    3.0  0.0  76.0
GSM1681368                  0  47.0    3.0  0.0  81.0
GSM1681369                  0  67.0    3.0  0.0  65.0
GSM1681370                  0  77.0    2.0  0.0  74.0
GSM1681371                  0  69.0    1.0  0.0  68.0

[585 rows x 5 columns]

In [20]:
clin_tissue.dropna(inplace=True)
clin_tissue

                       target   age  stage  DFS  DFSM
!Sample_geo_accession
GSM971957                   1  34.5    4.0  1.0   0.0
GSM971958                   1  36.4    4.0  1.0   0.0
GSM971959                   1  36.9    2.0  1.0   4.0
GSM971960                   1  38.2    1.0  0.0  74.0
GSM971961                   1  39.2    4.0  1.0   1.0
...                       ...   ...    ...  ...   ...
GSM1681367                  0  67.0    3.0  0.0  76.0
GSM1681368                  0  47.0    3.0  0.0  81.0
GSM1681369                  0  67.0    3.0  0.0  65.0
GSM1681370                  0  77.0    2.0  0.0  74.0
GSM1681371                  0  69.0    1.0  0.0  68.0

[573 rows x 5 columns]

In [21]:
clin_tissue["target"].value_counts()

target
1    556
0     17
Name: count, dtype: int64

### Gene expression

In [22]:
genes_tissue= pd.read_csv(
    "data/GSE39582_genes.txt", 
    sep="\t",
    index_col="ID_REF"
)
genes_tissue.head()

,GSM971957,GSM971958,GSM971959,GSM971960,GSM971961,GSM971962,GSM971963,GSM971964,GSM971965,GSM971966,...,GSM1681362,GSM1681363,GSM1681364,GSM1681365,GSM1681366,GSM1681367,GSM1681368,GSM1681369,GSM1681370,GSM1681371
ID_REF,,,,,,,,,,,,,,,,,,,,,
1007_s_at,9.561278,9.195198,9.934422,10.266136,9.977434,9.872145,9.045366,10.003417,9.990172,10.217966,...,9.847167,9.733898,9.904499,10.028011,10.031179,10.075013,9.506676,9.882653,9.898011,9.743342
1053_at,7.490955,7.549949,8.417405,8.165186,6.858895,7.456900,7.294602,8.046336,7.363857,7.798451,...,7.082756,7.216274,6.403616,6.705587,6.475627,6.277295,7.476909,6.674055,6.915436,7.043323
117_at,5.483608,5.154432,4.982266,4.478060,6.206341,5.469860,6.144213,4.773469,5.155557,5.511558,...,4.832537,4.459356,4.842576,4.357467,4.627195,4.831889,4.708240,5.171778,4.745477,4.628314
121_at,7.376411,7.375940,7.230739,7.548688,7.832766,7.241331,6.999633,6.949579,7.124734,7.162731,...,7.771227,7.934798,7.864958,8.044350,7.952567,7.880743,7.491522,7.668325,7.830421,7.732807
1255_g_at,2.845071,2.655784,2.837759,2.749647,2.885677,2.780455,2.936785,2.775945,2.712995,2.768064,...,2.910340,2.778019,2.730654,2.718647,2.720240,2.782004,2.879964,2.931177,2.876531,2.933604

### Merge Data

In [23]:
data = pd.merge(clin_tissue, genes_tissue.T, left_index=True, right_index=True)
data.head()

,target,age,stage,DFS,DFSM,1007_s_at,1053_at,117_at,121_at,1255_g_at,...,AFFX-r2-Ec-bioD-3_at,AFFX-r2-Ec-bioD-5_at,AFFX-r2-P1-cre-3_at,AFFX-r2-P1-cre-5_at,AFFX-ThrX-3_at,AFFX-ThrX-5_at,AFFX-ThrX-M_at,AFFX-TrpnX-3_at,AFFX-TrpnX-5_at,AFFX-TrpnX-M_at
GSM971957,1,34.5,4.0,1.0,0.0,9.561278,7.490955,5.483608,7.376411,2.845071,...,11.475950,10.483983,12.623022,12.593145,3.547751,3.929784,3.058311,2.697554,3.038737,2.802092
GSM971958,1,36.4,4.0,1.0,0.0,9.195198,7.549949,5.154432,7.375940,2.655784,...,11.572610,10.807687,13.093898,13.047588,3.545181,3.309591,2.691952,2.434740,2.824796,2.600676
GSM971959,1,36.9,2.0,1.0,4.0,9.934422,8.417405,4.982266,7.230739,2.837759,...,11.656232,10.864199,12.989416,13.188809,4.014747,4.114073,3.189148,2.713932,3.182882,2.749798
GSM971960,1,38.2,1.0,0.0,74.0,10.266136,8.165186,4.478060,7.548688,2.749647,...,11.139844,10.278899,12.684215,12.569020,3.994478,3.259446,3.361405,2.551093,3.247612,2.926161
GSM971961,1,39.2,4.0,1.0,1.0,9.977434,6.858895,6.206341,7.832766,2.885677,...,11.845596,10.868646,13.020133,13.042203,3.540059,3.675026,2.683685,2.624718,3.120898,2.560125

In [24]:
data.shape

(573, 54680)

## Blood Dataset

### Clinical data

In [2]:
clin_blood= pd.read_csv(
    "data/GSE164191_clinicaldata.txt",
    sep="\t",
    index_col="!Sample_geo_accession"
)
clin_blood.head()

,!Sample_title,!Sample_source_name_ch1,!Sample_organism_ch1,!Sample_characteristics_ch1,!Sample_characteristics_ch1.1,status,!Sample_characteristics_ch1.2
!Sample_geo_accession,,,,,,,
GSM5001936,006-ctr016: Peripheral Blood_Healthy control,Peripheral Blood,Homo sapiens,gender: Male,age: 43,normal,tissue: Peripheral Blood
GSM5001937,006-ctr021: Peripheral Blood_Healthy control,Peripheral Blood,Homo sapiens,gender: Male,age: 47,normal,tissue: Peripheral Blood
GSM5001938,006-ctr030: Peripheral Blood_Healthy control,Peripheral Blood,Homo sapiens,gender: Female,age: 42,normal,tissue: Peripheral Blood
GSM5001939,006-ctr057: Peripheral Blood_Healthy control,Peripheral Blood,Homo sapiens,gender: Female,age: 44,normal,tissue: Peripheral Blood
GSM5001940,006-ctr065: Peripheral Blood_Healthy control,Peripheral Blood,Homo sapiens,gender: Male,age: 55,normal,tissue: Peripheral Blood

In [3]:
clin_blood.shape

(121, 7)

In [4]:
set(clin_blood["status"])

{' colorectal cancer', ' normal'}

In [5]:
clin_blood["target"] = [1 if i == " colorectal cancer" else 0 for i in clin_blood["status"]]
clin_blood = clin_blood[["target"]]
clin_blood

                       target
!Sample_geo_accession
GSM5001936                  0
GSM5001937                  0
GSM5001938                  0
GSM5001939                  0
GSM5001940                  0
...                       ...
GSM5002052                  1
GSM5002053                  1
GSM5002054                  1
GSM5002055                  1
GSM5002056                  1

[121 rows x 1 columns]

In [6]:
clin_blood.value_counts("target")

target
0    62
1    59
Name: count, dtype: int64

### Gene Expression Data

In [7]:
genes_blood= pd.read_csv(
    "data/GSE164191_genes.txt", 
    sep="\t",
    index_col="ID_REF"
)
genes_blood.head()

,GSM5001936,GSM5001937,GSM5001938,GSM5001939,GSM5001940,GSM5001941,GSM5001942,GSM5001943,GSM5001944,GSM5001945,...,GSM5002047,GSM5002048,GSM5002049,GSM5002050,GSM5002051,GSM5002052,GSM5002053,GSM5002054,GSM5002055,GSM5002056
ID_REF,,,,,,,,,,,,,,,,,,,,,
1007_s_at,725.8980,796.0900,512.20100,1073.3500,911.0790,723.7810,853.90600,797.07600,447.0500,628.674,...,989.9150,771.9320,560.6720,909.0870,537.1380,950.6690,1401.660,1086.33000,1073.8700,1053.52000
1053_at,395.5860,399.6040,387.95500,370.9710,470.6210,382.3690,307.47900,355.33600,426.2140,400.152,...,468.1380,339.8340,444.1970,277.7600,433.6500,441.2880,482.165,281.64000,362.3690,459.42000
117_at,2733.8700,2608.8000,2322.60000,2639.6300,3788.7800,4272.0200,2723.17000,2084.72000,4792.2900,2605.910,...,2862.3600,2175.9300,2152.0700,1599.2100,2378.1300,1448.0500,2308.200,1598.52000,3011.1000,2247.66000
121_at,1440.2100,1500.6300,1262.00000,1547.6700,1092.4300,1104.6600,1393.71000,948.32200,676.1600,1332.270,...,1695.9300,829.6490,1411.2200,1510.9200,1765.7500,1642.1500,1986.370,1558.57000,1989.4400,2080.07000
1255_g_at,38.3712,39.1397,5.62705,10.2502,58.7812,35.7721,6.09315,4.19176,22.2372,79.154,...,82.0326,32.7375,23.0333,39.0699,18.0678,12.3742,118.104,9.95137,56.7037,9.38501

In [8]:
genes_blood.shape

(54675, 121)

In [9]:
from process_func import filter_iqr
keep_gene_lst = filter_iqr(genes_blood, 0.5)
len(keep_gene_lst)

54675

#### same number with previous --> blood data doesnt have lowly expressed genes, so we should filter by tissue (optional)

In [18]:
keep_gene_lst = filter_iqr(genes_tissue, 0.5)
len(keep_gene_lst)

23711

In [23]:
genes_blood = genes_blood.loc[keep_gene_lst]
genes_blood.shape

(23711, 121)

### Merge data

In [10]:
data = pd.merge(clin_blood, genes_blood.T, left_index=True, right_index=True)
data.head()

,target,1007_s_at,1053_at,117_at,121_at,1255_g_at,1294_at,1316_at,1320_at,1405_i_at,...,AFFX-r2-Ec-bioD-3_at,AFFX-r2-Ec-bioD-5_at,AFFX-r2-P1-cre-3_at,AFFX-r2-P1-cre-5_at,AFFX-ThrX-3_at,AFFX-ThrX-5_at,AFFX-ThrX-M_at,AFFX-TrpnX-3_at,AFFX-TrpnX-5_at,AFFX-TrpnX-M_at
!Sample_geo_accession,,,,,,,,,,,,,,,,,,,,,
GSM5001936,0,725.898,395.586,2733.87,1440.21,38.37120,1259.94,282.894,22.32070,23357.6,...,32278.4,19026.7,83572.0,59173.0,927.437,406.163,580.921,42.1028,81.7244,9.91339
GSM5001937,0,796.090,399.604,2608.80,1500.63,39.13970,1121.50,206.749,95.31110,20629.3,...,35960.7,22217.7,94596.8,65353.5,1360.550,646.118,969.375,51.2552,16.7812,5.35075
GSM5001938,0,512.201,387.955,2322.60,1262.00,5.62705,1126.70,347.664,12.37100,27487.3,...,27478.8,17796.6,75012.9,52527.9,1149.930,623.787,938.115,36.6352,38.5536,3.54501
GSM5001939,0,1073.350,370.971,2639.63,1547.67,10.25020,1708.83,380.185,6.04854,40321.1,...,62129.5,38590.3,187277.0,111348.0,383.647,117.674,223.904,24.8811,97.5604,11.61090
GSM5001940,0,911.079,470.621,3788.78,1092.43,58.78120,1173.27,206.402,34.44670,14319.7,...,31335.8,19608.5,89518.4,60446.0,791.052,211.981,403.888,10.6119,30.3497,4.82076

# 2. Feature Selection

In [ ]:
from process_func import select_features, model_name

# Select features based on ANOVA f-test
features = select_features(
    data,
    200,
    0.5,
    "Standard"
)

In [14]:
(
    "224963_at" in features
    and "227331_at" in features
    and "230085_at" in features
    and "212514_x_at" in features
)

True

In [ ]:
import itertools

# Combine selected features to create model names -> 200 features -> more than 1M models will have to be built
print("\nMAKING COMBINATION...\n")
combinations_all = []
for i in range(1, 3+1):
    combinations_all.extend(list(itertools.combinations(features, i)))
features = combinations_all
print("\nADD FEATURES\n")
featurelist = []
for i in tqdm(features):
    selected_features = []
    for k in i:
        selected_features.append(k)
    feature_name = model_name(selected_features)
    featurelist.append(feature_name)

MAKING COMBINATION...


ADD FEATURES

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1333500/1333500 [00:00<00:00, 1706096.93it/s]

In [61]:
with open("featurelist.csv", "w") as file:
    file.write(",".join(featurelist))

# test

In [3]:
!pip install imbalanced-learn

Collecting imbalanced-learn
  Downloading imbalanced_learn-0.12.4-py3-none-any.whl.metadata (8.3 kB)
Requirement already satisfied: numpy>=1.17.3 in c:\users\minh\miniconda3\envs\crc_biomarker\lib\site-packages (from imbalanced-learn) (1.26.4)
Requirement already satisfied: scipy>=1.5.0 in c:\users\minh\miniconda3\envs\crc_biomarker\lib\site-packages (from imbalanced-learn) (1.14.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\minh\miniconda3\envs\crc_biomarker\lib\site-packages (from imbalanced-learn) (1.5.2)
Requirement already satisfied: joblib>=1.1.1 in c:\users\minh\miniconda3\envs\crc_biomarker\lib\site-packages (from imbalanced-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\minh\miniconda3\envs\crc_biomarker\lib\site-packages (from imbalanced-learn) (3.5.0)
Downloading imbalanced_learn-0.12.4-py3-none-any.whl (258 kB)
Installing collected packages: imbalanced-learn
Successfully installed imbalanced-learn-0.12.4

In [26]:
data[
    ["target", "age", "stage", "DFS", "DFSM"] +
    ["1007_s_at", "1053_at", "117_at"]
]

            target   age  stage  DFS  DFSM  1007_s_at   1053_at    117_at
GSM971957        1  34.5    4.0  1.0   0.0   9.561278  7.490955  5.483608
GSM971958        1  36.4    4.0  1.0   0.0   9.195198  7.549949  5.154432
GSM971959        1  36.9    2.0  1.0   4.0   9.934422  8.417405  4.982266
GSM971960        1  38.2    1.0  0.0  74.0  10.266136  8.165186  4.478060
GSM971961        1  39.2    4.0  1.0   1.0   9.977434  6.858895  6.206341
...            ...   ...    ...  ...   ...        ...       ...       ...
GSM1681367       0  67.0    3.0  0.0  76.0  10.075013  6.277295  4.831889
GSM1681368       0  47.0    3.0  0.0  81.0   9.506676  7.476909  4.708240
GSM1681369       0  67.0    3.0  0.0  65.0   9.882653  6.674055  5.171778
GSM1681370       0  77.0    2.0  0.0  74.0   9.898011  6.915436  4.745477
GSM1681371       0  69.0    1.0  0.0  68.0   9.743342  7.043323  4.628314

[573 rows x 8 columns]

In [32]:
from imblearn.over_sampling import ADASYN
adasyn = ADASYN(random_state=42)
X, y = adasyn.fit_resample(
    data[["DFS", "DFSM", "1007_s_at", "1053_at", "117_at"]],
    data[["target"]]
)

In [1]:
with open("used_featurelist.csv", "r") as file:
    content = file.read()
    features = content.split(",")